<!DOCTYPE html>
<html>
    <head>
        <mata name="viewport" content="width=device-width,initial-scale=1">
            <meta charset="UTF-8">
            <title>使用者情報入力フォーム</title>
        </head>
        <body>
            <h1>使用者情報入力フォーム</h1>
            <form action="" method="post">
                {% for field in form %}
                {{ field }}
                {% endfor %}
                {% csrf_token %}
                <table>{{f.as_table}}
                    <tr><td colspan='2'><input type="submit" value="Submit"></td></tr>
                </table>
            </form>
            <p
            >基礎代謝　{{ 基礎代謝|floatformat:0 }}　kcal　<br>
            BMI　{{ BMI|floatformat:0 }}<br>
            減量目標　{{ 減量目標|floatformat:1 }}　kg<br>
            総消費カロリー　{{ 総消費カロリー|floatformat:0 }}　kcal<br>
            目標カロリー　{{ 目標カロリー|floatformat:0 }}　kcal<br>
            朝のカロリー　{{ 朝|floatformat:0 }}　kcal<br>
            P {{ 朝P|floatformat:0 }}g  F {{ 朝F|floatformat:0 }}g  C {{ 朝C|floatformat:0 }}g  <br>
            昼のカロリー　{{ 昼|floatformat:0 }}　kcal<br>
            P {{ 昼P|floatformat:0 }}g  F {{ 昼F|floatformat:0 }}g  C {{ 昼C|floatformat:0 }}g  <br>
            晩のカロリー　{{ 晩|floatformat:0 }}　kcal<br>
            P {{ 晩P|floatformat:0 }}g  F {{ 晩F|floatformat:0 }}g  C {{ 晩C|floatformat:0 }}g  <br>
        </p>
        </body>
        </html>